:root {
    --main-font-color: #4B2E2E  ;

    --main-background-color: #F5F5DC;

    

    --hover-background-color: #f0bba1;
    --hover-main-font-color: #cb837b;
    
    --logo-background-color: #f0bba1;

    --input-background-color: #FFFFFF;
    --input-border-color: #D2B48C ;

    --secondary-background-color: #d8a289;

    --secondary-font-color: #fff3e7;

    --search-bar-font-color: #ff8d14;

    --highlight-color: rgb(121, 53, 2);
    --error-background-color: rgb(255, 216, 161);
}

body {
    margin: 0;
    padding: 0;
    width:100%;
}

.mess {
    color: var(--highlight-color);
    font-size: 2em;
}

.container {
    display: flex;
    height: 100vh;
    background-color: var(--main-background-color);
}

nav {
    width: 22%;
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-btn {
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
    background-color: var(--logo-background-color);
    width: 100%;
    font-size: 1.4em;
}

nav > .logo-btn > img {
    width: 100%;
    /* height: 3em; */
    fill: var(--main-background-color);
    padding-top: 1em;
    padding-bottom: 1em;
    filter: brightness(100%) saturate(100%);
    background-color: var(--logo-background-color);
}

nav > .logo-btn > img:hover {
    background-color: var(--hover-background-color);
}

.nav_button {
    color: var(--secondary-font-color);
    background-color: var(--secondary-background-color);
    width: 100%;
    font-size: 1.2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    cursor: pointer;
    border: none;
}

nav > form {
    width: 100%;
}

.nav_button:hover {
    background-color: var(--hover-background-color);
}

main {
    width: 100%;
    height: 100%;
    font-family: Arial;
    overflow: auto;
}

.sec_form {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

form {
    width: 30%;
    flex-direction: column;
    display: flex;
}

form > input {
    border-radius: 0.3em;
    border-color: var(--input-border-color);
    background-color: var(--input-background-color);
    margin-bottom: 0.8em;
    padding: 0.3em;
}

form > label {
    color: var(--main-font-color);
    padding-bottom: 0.3em;
}

form > .form_button {
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background-color: var(--secondary-background-color);
    color: var(--main-background-color);
    border: 0;
    padding: 0.35em;
    border-radius: 0.6em;
}

.form_button:hover {
    background-color: var(--hover-background-color);
}

.forgetpass {
    text-align: right;
    font-size: 0.55em;
    text-decoration: underline;
    margin-bottom: 3em;
}


hr {
    height: 1px;
    border: 0;
    background-color: var(--secondary-background-color);
}

.set_form {
    flex-direction: column;
    display: flex;
    padding: 2em;
}

.set-button {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background-color: var(--secondary-background-color);
    color: var(--secondary-font-color);
    border: 0;
    padding: 0.2em;
    border-radius: 0.3em;
}

form > .set-button:hover {
    background-color: var(--hover-background-color);
}

.newGal-forms {
    display: flex;
    padding: 2em;
    justify-content: space-around;
}

.newExe-forms{
    display: flex;
    padding: 2em;
    justify-content: space-around;
}

.newExe-forms > form{
    width: 60%;
}

.message {
    position: fixed;
    left: 50%;
    top: 5%;
    border-radius: 0.3em;
    background-color: var(--error-background-color);
    color: var(--main-font-color);
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    transform: translate(-50%, 0);
}

.top_bar{
    height: 5em;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}



.top-bar-button {
    font-size: 1.5em;
    background-color: var(--secondary-background-color);
    color: var(--secondary-font-color);
    border: 0;
    padding: 0.5em;
    border-radius: 0.66em;
    margin-right:2em;
}

.top-bar-button:hover {
    background-color: var(--hover-background-color);
}

.search-bar {
    border-radius: 0.2em;
    padding: 0.3em;
    border: 0;
    background-color: var(--input-background-color);
    outline: none;
    color: var(--main-font-color);
}

.search-bar-container {
    margin-left: 2.2em;
    border-radius: 0.2em;
    padding: 0.3em;
    border: 0;
    color: var(--main-font-color);
    background-color: var(--input-background-color);
}

.search-bar-container > i {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}




table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 1em;
    padding-left: 5%;
    padding-right: 5%;
    color: var(--main-font-color)
}

th, td {
    border: 1px solid #ddd;
    padding: 0.6em;
}



caption {

    font-size: 1.2em;
    margin-bottom: 10px;
}

tr.table-title > td{
    font-weight: bold;
    font-size: 1.em;
    text-align: center;
}

a.course-title{
    text-decoration: none;
    color: inherit; 
}

a.course-title:hover{
    text-decoration: none;
    color: var(--hover-main-font-color); 
}


textarea#output{
    resize: none;
    overflow-y: scroll;
    width: 100%;
    height: 8em;
    font-family: monospace;
    font-size: 1.2em;

}


.td-button{
    width: 1%;
    text-align: right;
    padding: 0.0em;
    background-color: var(--secondary-background-color);
}

.td-button:hover{
    background-color: var(--hover-background-color);
}

.td-button > form{
    width: 100%;
    height: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
}

.button-in-td{
    width: 100%;
    text-align: right;
    margin-bottom: 0;
    background-color: inherit;
    color: var(--main-background-color);
    border: 0;
}

/* .button-in-td:hover{
    background-color: var(--hover-background-color);

} */

.exercise-title{
    color: inherit;
}

.top-bar-new-package-form{
    margin-left: 2em;
    margin-right: 2em;
}

.title-link{
    color: var(--main-font-color);
    text-decoration: none;
}

.title-link:hover{
    color: var(--hover-main-font-color);
}

.exercise-container{
    display: flex;
    flex-direction: column;
    padding-left:10%;
    padding-right:10%;
}
.exercise-content{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: left;
}

.top_bar > h2{
    color: var(--main-font-color);
    padding-right: 1em;
}

.hidden {
    display: none;
}




